.wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  max-height: 100%;
  width: 100%;
}

.interactive {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  width: 100%;

  &:fullscreen {
    object-fit: contain;
  }
}

.video-container {
  background-color: #333;
  border-radius: 10px;
  margin-left: 67px;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 20px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  &:hover {
    & .custom-icon {
      opacity: 1 !important;
    }
  }
  &.horizontal {
    height: 305px;
    width: 530px;
  }

  &.vertical {
    height: 530px;
    width: 310px;
  }
}

.thumb-video {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.active {
  z-index: -1;
}

.btn-like,
.btn-cmt,
.btn-share {
  border: none;
  background: none;
  outline: none;
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.icon-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 23px;
  border-radius: 50%;
  transition: all 200ms ease-in-out 0s;
  color: var(--light-grey);
  background-color: var(--light-bg-search);
  margin-top: 8px;
  margin-bottom: 6px;
}

.view {
  color: var(--light-grey);
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

//video css
.play-icon,
.pause-icon {
  padding: 10px;
  left: 12px;
  bottom: 26px;
  & .custom-icon {
    width: 20px;
    height: 20px;
  }
}

.volume-icon {
  bottom: 26px;
  left: unset;
  right: 12px;
  &:hover {
    > .volume-control {
      opacity: 1;
    }
  }
}
.volume-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 68px;
  right: -13px;
  width: 70px;
  height: 25px;
  padding: 5px 0;
  border-radius: 20px;
  background-color: #16182357;
  transform: rotate(-90deg);
  cursor: default;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.volume-bar {
  position: relative;
  width: 46px;
  height: 2px;
  border-radius: 5px;
  background-color: #ffffff57;
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 2;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
.selector {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
}
.custom-icon {
  opacity: 0;
  width: 23px;
  height: 23px;
  color: rgba(255, 255, 255, 1);
  transition: opacity 0.3s ease;
}

.showing {
  opacity: 1 !important;
}

.animation {
  position: absolute;
  text-align: center;
}
.menu-icon {
  top: 20px;
  right: 20px;
}
.time-duration-container {
  width: 100%;
  height: 16px;
  padding-inline: 12px;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  bottom: 12px;
  cursor: initial;
  display: flex;
}
.time-duration {
  width: 100%;
  height: 16px;
  flex: 1 1 auto;
  position: relative;
  &:hover {
    > .time-duration-track {
      height: 4px;
    }
    > .timer-control {
      height: 4px;
    }
  }
}

.time-duration-track {
  height: 2px;
  width: 0px;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform-origin: left center;
  left: 0;
}
.display-timer {
  flex: 0 0 64px;
  max-width: 64px;
  margin-inline-start: 8px;
  font-size: 10px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  text-align: end;
  white-space: nowrap;
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
  font-family: Tahoma, PingFangSC, sans-serif;
}
.position {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.timer-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: opacity 0.3s ease;
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.34);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range']::-webkit-slider-thumb {
    width: 14px;
    -webkit-appearance: none;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
  }
}
