.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 60px;
  width: 100%;
  max-width: var(--default-layout-width);
  display: flex;
}

.content {
  background-color: var(--white-content);
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}

.container-button {
  right: 24px;
  position: fixed;
  bottom: 0px;
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 8px;
  transform: translateY(40px);
  transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1) 0s;
}

.btn-get-app {
  margin-bottom: 45px;
  margin-left: 0 !important;
  position: absolute;
  bottom: -1px;
  transition: all 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
  transform-origin: right bottom;
  right: -1px;
}

.btn-dark {
  color: var(--light-btn-chat-notice);
}

.span-text {
  margin-left: 8px;
  white-space: nowrap;
}

.expand-container {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 45px;
  position: absolute;
  bottom: -1px;
  background: var(--light-bg-preview);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
  transform-origin: right bottom;
  right: -1px;
}

.xmark-wrapper {
  right: 16px;
  position: absolute;
  top: 16px;
  cursor: pointer;
}

.expand-wrapper {
  margin-right: 48px;
  margin-left: 16px;
}

.item-container {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--light-grey-003);
  }
}

.split {
  width: calc(100% - 16px);
  height: 1px;
  position: relative;
  background: var(--light-btn-chat-notice);
  transform: scaleY(0.5);
  left: 8px;
}

.hide {
  // display: none;
  position: absolute;
  transform: scale(0);
}

.show {
  // display: block;
  transform: none;
}