:root {
  --dark: rgb(231, 231, 232);
  --light: rgb(57, 57, 57);
  --light-bg-edit: rgb(248, 248, 248);
  --dark-bg-edit: rgba(18, 18, 18, 1);
}
[data-theme='dark'] {
  --light: var(--dark);
  --light-bg-edit: var(--dark-bg-edit);
}

.Profile {
  margin-left: 10px;
  padding: 32px 24px;
  width: 100%;
  height: 100%;
}
.info-user {
  margin-bottom: 20px;
  max-width: 624px;
  padding-right: 92px;
  position: relative;
}
.wrapper-info {
  display: flex;
  align-items: start;
}
.avatar {
  max-width: 116px;
  max-height: 116px;
  & img {
    object-fit: cover;
    border-radius: 50%;
  }
}
.name-container {
  flex: 1 1;
  margin-left: 20px;
  color: var(--light-info-user);
}
.edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-discover);
  color: var(--light-info-user);
  font-size: 16px;
  border-radius: 4px;
  height: 36px;
  margin: 16px 0 0;
  max-width: 136px;
  user-select: none;
  border: 1px solid rgba(22, 24, 35, 0.2);
  cursor: pointer;
  &:hover {
    border-color: rgb(208, 209, 211);
    background-color: var(--light-bg-edit);
  }
}
.username {
  font-family: TikTokDisplayFont, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 38px;
  margin-bottom: 4px;
  text-overflow: ellipsis;
}
.nickname {
  font-family: TikTokFont, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 25px;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.edit-profile {
  font-family: TikTokFont, sans-serif;
  font-weight: 600;
  margin: 1px 0px 0px 10px;
}
.fame-container {
  font-family: TikTokFont, sans-serif;
  font-weight: 600;
  align-items: center;
  color: var(--light-grey-075);
  display: flex;
  margin-top: 22px;
  & span {
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 20px;
  }
  & strong {
    color: var(--light-btn-chat-notice);
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 6px;
  }
}
.bio-container {
  color: var(--light-btn-chat-notice);
  font-family: TikTokFont, sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03px;
  white-space: pre-line;
  margin-top: 10px;
}

.url-container {
  align-items: start;
  justify-content: center;
  color: var(--light-btn-chat-notice);
  display: flex;
  flex-direction: column;
  font-family: TikTokDisplayFont, sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  & .icon-url {
    max-width: 18px;
    max-height: 18px;
  }
  & .url-text {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  & > .url-wrapper {
    display: flex;
    align-items: center;
  }
}
.video-feedtab {
  color: var(--light-feedtab-profile);
  position: relative;
  top: 0px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  font-family: TikTokFont;
  font-weight: 600;
  width: 100%;
  height: 44px;
  margin-bottom: 8px;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--light-bg-line);
    transform: scaleY(50%);
  }
  & p {
    // font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.028px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 44px;
    padding: 0px 32px;
    cursor: pointer;
    text-align: center;
    & span {
      margin-left: 8px;
      transform: translateY(2px);
    }
  }
}
.bottom-line {
  position: absolute;
  height: 2px;
  background: var(--light-grey);
  bottom: 0;
  transition: transform 0.3s ease;
  width: 128px;
  transform: translateX(0px);
}
.share-icon {
  position: absolute;
  right: 50px;
  top: 10px;
}
.custom-icon {
  stroke: var(--light-grey);
}
.active {
  color: var(--light-info-user);
}
.detail-wrapper {
  flex: 0 0 auto;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 490px;
  align-items: center;
  margin: 0 auto;
}
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.title {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: TikTokDisplayFont, sans-serif;
  font-weight: 700;
  color: var(--light-info-user);
  margin-top: 24px;
}
.desc {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03px;
  font-family: TikTokFont, sans-serif;
  font-weight: 400;
  color: var(--light-grey-075);
  margin-top: 8px;
}
.custom-icon-user {
  color: var(--light);
}

.custom-placement {
  inset: 0px 0px auto auto;
  transform: translate3d(22px, 2px, 0px);
  &::before {
    top: 2px;
    left: 250px;
  }
}
.custom-img {
  width: 116px;
  height: 116px;
  object-fit: cover;
}
.custom-btn {
  min-width: 208px;
  line-height: 22px;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}
