.wrapper {
  max-width: 692px;
  padding: 24px 16px;
}
.content {
  padding: 20px 0px;
  min-width: 624px;
  border-bottom: 1px solid var(--light-line-search);
}
.auto-load-more {
  display: flex;
  justify-content: center;
  height: 48px;
  margin: 6px 0;
}
