.wrapper {
  width: 100%;
  min-height: 100px;
  max-height: min(100vh - 96px - 60px, 734px);
  background-color: var(--light-bg-preview);
  color: var(--light-btn-chat-notice);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 8px;
  padding-top: 8px;
}
