.modal-container {
  z-index: 10000;
  position: fixed;
  inset: 0px;
  background: rgb(18, 18, 18);
  display: flex;
  width: 100vw;
  height: 100vh;
}
.video-container {
  flex: 1 0 600px;
  max-width: 100%;
  background: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  padding: 0px 80px;
}
.content-container {
  flex: 0 0 544px;
  width: 544px;
  display: flex;
  flex-direction: column;
  padding: 24px 0px 0px;
}
//search-bar
.search-bar-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0px;
  right: 0px;
  margin: auto;
  align-items: center;
  height: 85px;
}
.search-bar-background {
  position: absolute;
  height: 85px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0));
}
.search-box-container {
  position: relative;
  width: calc(100% - 184px);
  max-width: calc(56.25vh - 32px);
}
.search-input-container {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 92px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0px;
}
.input-search-content {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0px;
  width: 100%;
  color: rgb(255, 255, 255);
  caret-color: rgb(255, 59, 92);
  appearance: textfield;
  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}
.span-spliter {
  width: 1px;
  height: 28px;
  margin: -3px 0px;
  background-color: rgba(255, 255, 255, 0.34);
}
.btn-search {
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  margin-left: 0;
  &:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
}
.search-icon-container {
  outline: none;
}
.custom-btn-search {
  color: rgba(255, 255, 255, 0.75);
}
.input-border-container {
  position: absolute;
  inset: 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 92px;
  z-index: -1;
}

//background-blur

.video-blur-background {
  position: absolute;
  width: 10%;
  height: 10%;
  filter: blur(2px);
  left: 50%;
  top: 50%;
  transform: scale(11);
  opacity: 0.3;
}
.wrapper-picture {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}
.custom-image {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

//video
.video-wrapper {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    & .video-control-container {
      opacity: 1;
    }
  }
}
.video-background-blur {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-layout-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.video-custom {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
//icons
.close-btn-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.5);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  top: 20px;
  transition: opacity 0.3s ease 0s;
  z-index: 100;
  transform: translateY(0px);
  left: 20px;
  &:hover {
    opacity: 0.7;
    background-color: rgba(37, 37, 37, 0.6);
  }
}
.custom-btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(84, 84, 84, 0.5);
  cursor: pointer;
  border: none;
  outline: none;
  top: 20px;
  z-index: 100;
  height: 40px;
  padding: 0px 10px;
  min-width: 40px;
  border-radius: 80px;
  transform: translateY(0px);
  left: 20px;
}
.custom-close-icon {
  color: #fff;
}
.play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: #fff;
  width: 60px;
  height: 60px;
}
.menu-btn-container {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  z-index: 100;
  color: rgb(255, 255, 255);
  right: 20px;
}
.custom-menu-icon {
  color: #fff;
  transform: rotate(90deg);
}
.popper-container {
  position: absolute;
  z-index: 1;
  background-color: rgb(18, 18, 18);
  border-radius: 8px;
  top: calc(100% + 12px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  transition: opacity 300ms ease 0s;
  opacity: 1;
  right: 0px;
}
.popup-container {
  padding: 8px 0px;
  margin: 0px;
  min-width: 200px;
  list-style: none;
  box-sizing: border-box;
  border-radius: 8px;
  user-select: none;
}
.item-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 16px;
  box-sizing: border-box;
  &:hover {
    background: rgba(255, 255, 255, 0.08);
    cursor: pointer;
  }
  &:first-child::after {
    content: '';
    display: block;
    width: calc(100% - 32px);
    height: 0.5px;
    position: absolute;
    bottom: 0px;
    left: 16px;
    background-color: rgba(255, 255, 255, 0.12);
  }
}
.icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.item-text {
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-inline-start: 8px;
}
.arrow-video-switch {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(84, 84, 84, 0.5);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  margin-top: -24px;
  right: 20px;
  &:hover {
    opacity: 0.7;
  }
}

.arrow-up {
  transform: rotate(-90deg);
  top: calc(50% - 48px);
}
.arrow-down {
  transform: rotate(90deg);
  top: calc(50% + 8px);
}

.volume-container {
  border: none;
  background: none rgba(84, 84, 84, 0.5);
  outline: none;
  padding: 0px;
  display: flex;
  transition: opacity 0.3s ease 0s;
  cursor: pointer;
  line-height: 0;
  border-radius: 100px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  &:hover {
    & .volume-control {
      opacity: 1 !important;
      visibility: visible;
    }
    opacity: 0.7;
    background-color: rgba(37, 37, 37, 0.6);
  }
}

.animation {
  position: absolute;
  text-align: center;
}
.volume-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 96px;
  margin: 8px 6px;
  background-color: rgba(84, 84, 84, 0.5);
  border-radius: 32px;
  bottom: 75px;
  right: -33px;
  padding: 5px 0;
  transform: rotate(-90deg);
  cursor: default;
  transition: opacity 0.3s ease;
  visibility: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 24px;
    background-color: transparent;
    top: 2px;
    right: 95px;
    cursor: pointer;
  }
}

.volume-bar {
  position: relative;
  height: 4px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.34);
  top: 0;
  bottom: 8px;
  cursor: pointer;
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 2;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
.selector {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #fff;
}
.custom-icon {
  padding: 9px;
  width: 23px;
  height: 23px;
  color: rgba(255, 255, 255, 1);
  transition: opacity 0.3s ease;
}
.showing {
  opacity: 1 !important;
}

.video-control-container {
  width: calc(100% - 160px);
  height: 24px;
  padding-inline: 16px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  bottom: 28px;
  cursor: initial;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  max-width: 56.25vh;
}

.time-duration-container {
  width: 100%;
  height: 16px;
  cursor: initial;
  display: flex;
}
.time-duration {
  max-width: 287px;
  width: 100%;
  height: 16px;
  flex: 1 1 auto;
  position: relative;
  &:hover {
    > .time-duration-track {
      height: 6px;
    }
    > .timer-control {
      height: 6px;
    }
  }
}

.time-duration-track {
  height: 2px;
  width: 0px;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform-origin: left center;
  left: 0;
}
.display-timer {
  display: flex;
  align-items: center;
  max-width: 88px;
  margin-inline-start: 20px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: end;
  white-space: nowrap;
  font-family: Tahoma, PingFangSC, sans-serif;
}
.timer-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: opacity 0.3s ease;
  height: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.34);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.position {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.content-container {
  flex: 0 0 544px;
  width: 544px;
  display: flex;
  flex-direction: column;
  padding: 24px 0px 0px;
}
.description-content-wrapper {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px;
}
.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-bottom: 15px;
  position: relative;
  & a:first-child {
    &:hover {
      & ~ a > span:first-child {
        text-decoration: underline;
      }
    }
  }
}

.style-link {
  flex: 0 0 40px;
  margin-right: 12px;
}
.avatar-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1 1 auto;
  margin-right: 12px;
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  &:hover > span:first-child {
    text-decoration: underline;
  }
}
.nickname {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.username {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.main-content {
  overflow: visible;
  display: flex;
  flex-direction: column;
  color: var(--dark-grey-09);
}
.tag-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: unset;
}
.overflow-container {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 44px;
  font-size: 16px;
  line-height: 21px;
  word-break: break-word;
}

.span-text {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 400;
  cursor: text;
  user-select: text;
}
.hash-tag {
  font-weight: 600;
  color: rgba(143, 190, 233, 1);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
  }
}
.music-link {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
  flex: 0 0 auto;
  margin-left: 1px;
  &:hover > span {
    text-decoration: underline;
  }
  > span {
    margin-left: 4px;
  }
}
.custom-placement {
  inset: 10px 0px auto auto;
  transform: translate3d(10px, 2px, 0px);
  background-color: var(--light-bg-preview);
  border-radius: 10px;
  &::before {
    background-color: var(--light-bg-preview);
    top: 2px;
    left: 262px;
    content: '';
    height: 10px;
    position: absolute;
    transform: translateX(-50%) translateY(-54%) rotate(45deg);
    width: 15px;
  }
}
.main-content {
  padding: 0px 32px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.media-container {
  position: relative;
  padding: 16px 0px 0px;
}
.react-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.react-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-action {
  border: none;
  background: none;
  outline: none;
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  > strong {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
.btn-action:not(:first-child) {
  margin-left: 20px;
}

.custom-icon-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  border-radius: 50%;
  transition: all 200ms ease-in-out 0s;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 6px;
  margin-right: 6px;
}
.bookmark-icon {
  width: 19px;
  height: 19px;
}
.social-media-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-icon {
  margin-right: 8px;
  cursor: pointer;
}

.copy-link-container {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  overflow: hidden;
}
.copy-link-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1 1 auto;
  padding: 7px 0px 7px 12px;
  background-color: rgba(255, 255, 255, 0.12);
  cursor: text;
  user-select: text;
}
.btn-clipbroad {
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  flex: 0 0 auto;
  cursor: pointer;
  padding: 7px 18px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.tab-menu-container {
  padding-top: 18px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab-item-container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  width: 50%;
  height: 100%;
}
.tab-item {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 14px;
  overflow: auto;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
}
.tab-item-container:nth-child(2) {
  border-bottom: none;
}
.comment-content-container {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(18, 18, 18);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.comment-list-container {
  width: 100%;
  overflow: hidden auto;
  flex-grow: 1;
  position: relative;
  padding: 0px 32px 24px;
  padding-top: 24px;
}
.commemt-item {
  margin-bottom: 20px;
}
.comment-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin-bottom: 8px;
  &:hover {
    & .comment-action {
      padding-top: 2px;
    }
    & .display-menu {
      display: block;
      cursor: pointer;
    }
  }
}
.user-link-avatar {
  margin-right: 12px;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.comment-content {
  flex: 1 1 auto;
}
.comment-username {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  > span {
    font-family: TikTokFont;
  }
}
.comment-text {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 16px;
  line-height: 21px;
  white-space: pre-line;
  word-break: break-word;
  margin-bottom: 6px;
  color: var(--dark-grey-09);
  cursor: text;
  & > span {
    user-select: text;
  }
}
.comment-sub-cotent {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.comment-created-at {
  display: inline-block;
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  cursor: text;
  user-select: text;
}
.comment-reply {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin-left: 4px;
  &:hover {
    text-decoration: underline;
  }
}
.comment-action {
  margin-left: 25px;
  padding-right: 2px;
  width: 24px;
  flex: 0 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.display-menu {
  display: none;
}
.popup-report-container {
  position: absolute;
  z-index: 1;
  background-color: rgb(37, 37, 37);
  right: -6px;
  border-radius: 8px;
  top: -5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  transition: opacity 300ms ease 0s;
}
.popup-report-content {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 8px 16px;
  min-width: 200px;
  color: var(--dark-grey-09);
}
.action-item {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
}
.span-action {
  margin-left: 12px;
}
.like-wrapper {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 12px;
  line-height: 16px;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.like-count {
  font-size: 16px;
  line-height: 21px;
  height: 24px;
  display: flex;
  align-items: center;
}
.edit-comment-container {
  flex: 0 0 auto;
  background-color: rgb(18, 18, 18);
  margin: 0px 30px;
  padding: 21px 0px;
}
.edit-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.edit-content-layout {
  flex: 1 1 auto;
}
.input-area-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0px 9px;
}
.input-editor-container {
  flex: 1 1 auto;
  height: auto;
  margin: 10px 8px 10px 0px;
  > input {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    min-height: 17px;
    max-height: 68px;
    background: transparent;
    word-break: break-all;
    overflow-y: auto;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  }
}
.post-comment {
  color: rgba(255, 255, 255, 0.34);
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  cursor: default;
  flex: 0 0 48px;
  font-size: 14px;
  line-height: 39px;
  text-align: right;
  margin-right: 4px;
}
.mention-btn,
.emoji-btn {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  padding: 5px;
  margin: 3px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
}
.custom-post-icon {
  color: var(--dark-grey-09);
}
.list-container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-black-18);
  border-top: 1px solid var(--dark-black-012);
}
.video-list-container {
  width: 100%;
  overflow: hidden auto;
  position: relative;
  padding-inline-start: 23.5px;
  padding-top: 20px;
  flex-wrap: wrap;
  display: flex;
}
.item-container {
  margin-right: 7.5px;
  width: 160px;
  height: 239px;
  margin-bottom: 8px;
  cursor: pointer;
}
.cover-container {
  width: 100%;
  height: 239px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 8px;
  overflow: hidden;
}
.playing-mark-container {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0px;
}
.playing-mask-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper-icon-animation {
  width: 29px;
  height: 22px;
  overflow: hidden;
  margin: 0px auto;
  outline: none;
}
.text-play {
  margin-top: 4px;
  font-size: 13px;
  line-height: 17px;
  color: rgb(255, 255, 255);
}
.music-waves-2 {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-waves-2 > span {
  display: block;
  position: relative;
  background: #000;
  height: 100%;
  width: 1rem;
  border-radius: 1rem;
  margin: 0 0.2rem;
  animation: waves-2 1.2s linear infinite;
}

.music-waves-2 > span:nth-child(1) {
  animation-delay: 0s;
  background-color: #fff;
}

.music-waves-2 > span:nth-child(2) {
  animation-delay: 0.3s;
  background-color: #fff;
}

.music-waves-2 > span:nth-child(3) {
  animation-delay: 0.6s;
  background-color: #fff;
}

.music-waves-2 > span:nth-child(4) {
  animation-delay: 0.9s;
  background-color: #fff;
}

.music-waves-2 > span:nth-child(5) {
  animation-delay: 0.6s;
  background-color: #fff;
}

.music-waves-2 > span:nth-child(6) {
  animation-delay: 0.3s;
  background-color: #fff;
}

.music-waves-2 > span:nth-child(7) {
  animation-delay: 0s;
  background-color: #fff;
}

@keyframes waves-2 {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}
.video-user-create {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-user-create {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login-bar {
  color: rgb(255, 59, 92);
  font-weight: 600;
  height: 100%;
  background: rgb(37, 37, 37);
  border-radius: 2px;
  padding: 14px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: unset;
}
.text-close {
  font-family: TikTokFont;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 24px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 24px;
  padding-left: 5px;
}
.report-wrapper {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  z-index: 100;
  color: rgb(255, 255, 255);
  background-color: rgba(84, 84, 84, 0.5);
  right: 20px;
  &:hover {
    background-color: rgba(37, 37, 37, 0.6);
    opacity: 0.7;
  }
}
