.wrapper {
  width: 320px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-avatar {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.body {
  margin-top: 8px;
}

.nickname {
  cursor: pointer;
  color: var(--light-grey);
  font-family: 'SofiaPro', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.check {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-left: 4px;
  margin-bottom: 2px;
  color: rgb(32, 213, 236);
}

.name {
  cursor: pointer;
  color: var(--light-grey);
  font-family: 'ProximaNova', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  margin-top: 8px;
}

.footer > span:not(:last-child) {
  margin-right: 6px;
}

.footer > span:nth-child(1),
.footer > span:nth-child(3) {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  display: inline-block;
}

.footer > span:nth-child(2) {
  margin-right: 12px;
}

.footer > span:nth-child(2),
.footer > span:nth-child(4) {
  color: var(--light-grey-075);
  font-size: 17px;
  line-height: 20px;
  display: inline-block;
}
