.tippy-container {
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  bottom: calc(100% + 2px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  transition: opacity 300ms ease 0s;
  opacity: 1;
  transform: translateY(8px);
  background-color: var(--light-bg-preview);
  padding-right: 4px;
  left: -50px;
  &::before {
    background-color: var(--light-bg-preview);
    bottom: -17px;
    left: 50px;
    content: '';
    height: 15px;
    position: absolute;
    transform: translateX(-50%) translateY(-67%) rotate(45deg);
    width: 15px;
  }
}

.hide {
  opacity: 0;
}

.share-wrapper {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 280px;
  padding: 8px 0px;
  max-height: 448px;
  overflow: overlay;
}

.item-wrapper {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  margin: 0px 3px 0px 4px;
  position: relative;

  &.item-caret-down {
    padding: 0 16px;
    justify-content: center;
  }

  &:hover {
    background-color: var(--light-grey-003);
  }
}

.hide-caret {
  display: none;
}

.item-text {
  margin-left: 12px;
}
