.wrapper {
  width: 100%;
  max-width: 232px;
  height: calc(100vh - 60px);
  padding: 20px 0 26px 8px;
  position: fixed;
  overflow-y: overlay;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  top: 60px;
  bottom: 0;
  background-color: var(--white-sidebar);
  transition: all .4s cubic-bezier(.65,0,.35,1);
  &::-webkit-scrollbar {
    width: 6px;
    padding: 0 4px;
    border-radius: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: transparent;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &:hover::-webkit-scrollbar-thumb {
    background: var(--light-thumb-scrollbar);
  }
}

.login-to-follow {
  position: relative;
  padding: 20px 8px 24px 8px;

  &::before {
    content: '';
    position: absolute;
    height: 0.5px;
    left: 8px;
    right: 8px;
    background-color: var(--light-line-search);
    top: 0;
  }
}

.desc {
  color: var(--light-grey-05);
  font-size: 16px;
  line-height: 22px;
}

.login-btn {
  font-family: 'SofiaPro';
  font-weight: 700;
  width: 100%;
  margin-left: 0;
  margin-top: 20px;
  background-color: var(--white-btn-app);
  transition: all .4s cubic-bezier(.65,0,.35,1);
}
